/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');             /* Bellefair font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');    /* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');                  /* Abel font */
/*
CSS Rules for the fonts
font-family: 'Inter', sans-serif;       //for the Inter font
font-family: 'Bellefair', sans-serif;   //for the Bellefair font
font-family: 'Abel', sans-serif;        //for the Abel font
*/

body, html {
    margin: 0;
    background-color: black;
    font-family: 'Bellefair', sans-serif; 
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: inline;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}

.container1 {
    height: 110vh;
    overflow: hidden;
}

.container2 {
    width: 100%; 
    height: 110vh;
    overflow: hidden;
}

.background-image1 {
    position: relative;
    background: url('./img/abstract_bg4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
    height: 100%;
    margin-top: 17vh;
    z-index: 2; 
}

.background-image2 {
    position: relative;
    background: url('img/abstract bg3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
    height: 110vh;
    z-index: 2;
}

.container1 p {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 42px;
    color: black;
    z-index: 3; 
    }

.logo-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-container2 {
    position: absolute;
    margin-top: -11%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-container .logo, 
.logo-container2 .logo {
    margin: 20px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.logo-container .logo img, .logo-container2 .logo img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.logo-container .logo span, .logo-container2 .logo span {
    display: block;
    margin-top: 5px;
    font-size: 24px;
    color: black;
    font-weight: 300;
}

.logo-container2 {
    top: 75%;
}

.logo-container .logo:hover, 
.logo-container2 .logo:hover {
    transform: scale(1.3) !important;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: ;
    background-repeat: no-repeat;
    background-size: contain;
}

section #slider {
    position: absolute;
    top: 0px;
    right: 30px;
    height: 90%;
    object-fit: contain;
    transition: 0.9s;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -ms-transition: 0.9s;
    -o-transition: 0.9s;
}

section .navigation {
    position: absolute;
    bottom: -10%;
    left: 5%;
    transform: translateY(-5%);
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -o-transform: translateY(-5%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .navigation li {
    list-style: none;
    cursor: pointer;
    margin: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    opacity: 0.5;
}

section .navigation li:hover {
    opacity: 1;
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}

section .navigation li img {
    width: 46px;
}

section h2 {
    position: relative;
    z-index: 100;
    font-size: 4em;
    color: #fff;
    text-align: center;
    max-width: 1000px;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contentBx {
    position: relative;
    width: 50%;
    left: 5%;
}

.contentBx h2 {
    color: black;
    font-size: 4.5em;
    text-align: left;
    text-transform: uppercase;
}

.contentBx p {
    color: #fff;
    font-size: 1.1em;
}

.contentBx a {
    color: #111;
    font-size: 1.1em;
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    margin-top: 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#text {
    font-size: 16px;
    line-height: 1.5;
    color: black; /* Change the color to your preference */
    margin-top: 10px;
    margin-left: 20px;
}

.container3 {
    background-image: url('img/abstractbg2.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    padding: 5vw; 
    position: relative;
    z-index: 3;
    width: 100%;
    height: auto;
}

.container3 table {
    width: 80%;
    margin-left: 5vw;
    border-collapse: collapse;
    margin-top: 20px; 
}

.container3 td {
    font-size: 1.2vw;
    border: 1px solid black; 
    padding: 1vw; 
    text-align: center; 
}
.container3 th {
    font-size: 1.4vw;
    background-color: rgba(255, 255, 0, 0.1);
    border: 1px solid black;
    padding: 1vw;
}
        

/* CSS For the Navbar and the Footer */
/************************************/

header {
    font-family: 'Bellefair', serif;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: auto;
    padding-inline: 25px;
    align-items: center;
    transition: 0.5s;
    z-index: 1000;
}

header.solid {
    background: transparent;
}

nav {
    display: flex;
    align-items: center;
    justify-items: center;
    transition: all 0.5s;
}

nav a {
    text-decoration: none;
    color: white;
    margin-inline: 10px;
    margin-top: 0;
}

nav a.color-change {
    color: black;
}

nav a.color-change:hover:not(.nowActive) {
    color: grey;
}

nav a.nowActive, .drop-item.nowActive {
    color: #f0c455 !important;
}

a:hover:not(.button-content) {
    color: grey;
}

footer {
    font-family: 'Bellefair', serif;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 45vh;
    margin: 0;
    align-items: center;
    color: white;
    overflow: hidden;
}

footer nav a {
    color: white !important;
    text-decoration: none;
}

footer nav a:hover {
    color: grey !important;
}

.footer-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    align-items: center;
}

.footer-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Spacing between the social media icons in the footer */
footer table td a > img {
    margin-right: 5%;
}

/* This is for controlling transparency/opacity */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4 /* <-- Controls the transparency */ );
}

#footer-small-text {
    margin-left: 5%; 
    max-width: 90%; 
    text-align: center; 
    font-size: 0.6rem; 
    text-transform: uppercase;
}

/* Controls the height and width of the logo inside the container1 */
.img1 {
    height: 75vh;
    width: auto;
    margin: 4vh 0 0 0.7vw;
}

/* Controls the height and width of the logo inside the navigation bar */
.img2 {
    height: 100px;
    width: auto;
    padding: 5px;
    margin-left: 10px;
}

/* Controls the height and width of the logo inside the footer */
.img3 {
    height: 25vh;
    width: auto;
    padding: 5px;
    margin-left: 20px;
}

/* Controls the height and width of the social media icons */
.img4 {
    height: 6.5vh;
    width: auto;
}

/* Controls the height and width of the developer's logo */
.img5 {
    height: 19vh;
    width: auto;
}

/* Controls the height and width of the ESRB Game Rating */
.img6 {
    height: 15vh;
    width: auto;
}

/* CSS For Button Objects */
/**************************/

/* Button properties */
.button {
    display: flex;
    align-items: center;
}

/* Styles the link (Button) */
.button-content {
    text-decoration: none;
    color: black;
    font-family: 'Bellefair', serif;
    text-align: center;
    position: relative;
    transition: all 0.2s;
}

/* Controls the size of the button image */
.button-content > img {
    height: auto;
    max-width: 20vw;
}

/* Centers the text inside the button */
.button-content > .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-content:hover {
    transform: scale(1.05);
}

/* End CSS For Button Objects */

/* Controls the link styling for the login/signup button  */
a.login {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    text-align: center;
    position: relative;
}

/* For toggling JS property on scroll on the login button */
.color {
    color: black !important;
}

/* Controls the button image */
.login > img {
    height: 8vh;
    width: 14vw;
}

/* Controls the text placement inside the button */
.login > .centered {
    position: absolute;
    top: 43%;
    left: 45%;
    transform: translate(-40%, -40%);
}

/* Controls the whole button's positioning in the navbar */
.login-button {
    display: flex;
    align-items: center;
    margin-left: 37vw;
    transition: all 0.2s;
}

.login-button:hover {
    transform: scale(1.05);
}

/* CSS for displaying the username and pfp */

/* Styles the div for the user welcome message */
.user-welcome {
    display: inline-flex;
    align-items: center;
    margin-left: 37vw;
    color: white;
}

.username {
    text-transform: uppercase;
}

.user-pfp {
    margin-inline-start: 20px;
    margin-inline-end: 10px;
    height: 50px;
    width: auto;
}

.logout-link {
    text-decoration: none;
    color: white;
}

/* CSS For the dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: -4px;
}

.has-dropdown {
    cursor: default;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: black;
    color: white;
    height: auto;
    width: 110px;
    z-index: 1;
    padding-top: 20px;
}

.drop-item {
    text-decoration: none;
    color: white;
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3vh;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu.solid {
    background: transparent;
}

.drop-item.color-change:not(.nowActive) {
    color: black;
}

/* CSS for the responsive navbar */

/* initial state of the burger menu */
.toggle {
    display: none;
}

.navlinks {
    text-transform: uppercase;
}

/* Media query for large screens */
@media all and (max-width: 968px) {
    header {
        height: auto;
        padding: 15px;
    }

    .user-welcome {
        position: absolute;
        margin-left: 32vw;
        left: 27vw;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav > a {
        display: block;
        text-align: center;
        padding: 3vh 3vw;
        font-size: 1.5rem;
    }

    .toggle {
        order: 1;
        display: block;
        position: absolute;
        right: 7vw;
        top: 5vw;
        bottom: 3vw;
    }

    .login-button {
        margin-left: 9vw;
        margin-right: 9vw;
    }

    a.login {
        font-size: 1rem;
    }

    .login > .centered {
        transform: translate(-43%, -170%);
    }

    .login > img {
        height: 9vh;
        width: 30vw;
    }

    .navlinks {
        order: 3;
        width: 100%;
        text-align: center;
        display: none;
    }

    .active > .navlinks {
        display: block;
    }

    .active > .user-welcome {
        display: none;
    }

    .dropdown.active .dropdown-menu {
        position: relative;
        font-size: 1.5rem;
        margin-left: 39%;
    }

    .dropdown.active .has-dropdown {
        display: block;
        width: 100%;
        font-size: 1.5rem;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .img2 {
        height: 90px;
        width: auto;
        padding: 5px;
        margin-left: 10px;
    }
}

/* Media query for medium screens */
@media all and (max-width: 725px) {
    header {
        height: auto;
        padding: 15px;
    }

    .user-welcome {
        position: absolute;
        left: 3vw;
        margin-left: 36vw;
    }

    .userlink {
        visibility: hidden;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav > a {
        display: block;
        text-align: center;
        padding: 3vh 3vw;
        font-size: 1.2rem;
    }

    .toggle {
        order: 1;
        display: block;
        position: absolute;
        right: 7vw;
        top: 6vw;
        bottom: 3vw;
    }

    .login-button {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    a.login {
        font-size: 1.2rem;
    }

    .login > .centered {
        transform: translate(-43%, -120%);
    }

    .login > img {
        height: 11vh;
        width: 33vw;
    }

    .navlinks {
        order: 3;
        width: 100%;
        text-align: center;
        display: none;
    }

    .active > .navlinks, .userlink {
        display: block;
    }

    .dropdown.active .dropdown-menu {
        font-size: 1.2rem;
        margin-left: 33%;
    }

    .dropdown.active .has-dropdown {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .img2 {
        height: 90px;
        width: auto;
        padding: 5px;
        margin-left: 10px;
    }
}
    
/* Media query for small screens */
@media all and (max-width: 600px) {
    header {
        height: auto;
        padding: 15px;
    }

    .user-welcome {
        position: absolute;
        top: 7vw;
        margin-left: 34vw;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav > a {
        display: block;
        text-align: center;
        padding: 3vh 3vw;
        font-size: 1.2rem;
    }

    .toggle {
        order: 1;
        display: block;
        position: absolute;
        right: 10vw;
        top: 8vw;
        bottom: 3vw;
    }

    .login-button {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    a.login {
        font-size: 0.95rem;
    }

    .login > .centered {
        transform: translate(-43%, -150%);
    }

    .login > img {
        height: 11vh;
        width: 33vw;
    }

    .navlinks {
        order: 3;
        width: 100%;
        text-align: center;
        display: none;
    }

    .active > .navlinks {
        display: block;
    }

    .dropdown {
        margin-left: -5%;
    }

    .dropdown.active .dropdown-menu {
        font-size: 1.2rem;
        margin-left: 25%;
    }

    .dropdown.active .has-dropdown {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .img2 {
        height: 90px;
        width: auto;
        padding: 5px;
        margin-left: 10px;
    }
}